* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0d6efd;
  color: white;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;

}

header .logo img{
  height: 50px;
  width: auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: url("https://images.unsplash.com/photo-1581579186984-9d8b8f3818c3?auto=format&fit=crop&w=1400&q=80")
    center/cover no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

button {
  margin-top: 20px;
  background: white;
  color: #0d6efd;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e5e7eb;
}

.features {
  text-align: center;
  padding: 60px 20px;
  background: white;
}
.feature h2 {
  margin-bottom: 30px;
  color: #0d6efd;
}

.feature-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.feature {
  background: #f0f8ff;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s;
}

.feature:hover {
  transform: scale(0.5);
}

.feature img {
  width: 60px;
  margin-bottom: 15px;
}

.cta {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

footer {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #111;
  color: white;
  font-size: 0.9rem;
}
/*Comment Test Is Done Over Here....................................................